<!-- Navbar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <a class="navbar-brand" href="{% url 'webgui.views.homepage' %}">Multi Reveil</a><p class="navbar-text">{{ namepage }}</p>
  {% if user.is_authenticated %}
    {% if namepage != 'Login' and namepage != 'Logout' %}
      <p class="btn btn-default navbar-btn pull-right" style="margin-right:15px;"> Welcome, {{ user.username }} </p>
      <a href="{% url 'webgui.views.options' %}" class="btn btn-default navbar-btn pull-right" style="margin-right:15px;">Sound & Options</a>
      <a href="{% url 'webgui.views.timeset' %}" class="btn btn-default navbar-btn pull-right" style="margin-right:15px;">Time Settings</a>
      <a href="{% url 'logout' %}" class="btn btn-danger navbar-btn pull-right" style="margin-right:15px;"><span class="glyphicon glyphicon-log-out"> Logout </span></a>
    {%endif%}
  {% else %}
    <p class="btn navbar-btn pull-right" style="margin-right:15px;"> Welcome, you're unlogged </p>
  {% endif %}
</nav>
