<head>
    <title> Isador - Site personnel et réalisations </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# {% load staticfiles %}#}

    <!-- Bootstrap -->
    <link href={{ static("dist/css/bootstrap.min.css") }} rel="stylesheet">

    <!-- jQuery  -->
    <!--<script src="https://code.jquery.com/jquery.js"></script>-->
    <script src={{ static("jquery.js") }}></script>

    <!-- Boostrap -->
    <script src={{ static("dist/js/bootstrap.min.js") }}></script>

    <link href={{ static("htmlprofile.css") }} rel="stylesheet">

</head>
