<div class="modal fade" style="display:none;" id="modalSANDVIK" tabindex="-1" role="dialog" aria-labelledby="modalSANDVIK">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header col-lg-offset-2">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h2 class="modal-title"> SANDVIK, Orléans </h2>
				<h4> Service informatique de proximité </h4>
			</div>

			<div class="modal-body">
				<div class="modal-summary">
					En charge du support informatique et de la gestion du parc
					Projet Nagios / Centreon : Etude et mise en œuvre d’une solution basique de monitoring
				</div>

				<div>
					<ul>
						<li> Etude des solutions : Nagios / Centreon, Zabbix, Fully Automated Nagios.  </li>
						<li> Etude des fonctionnements NRPE / NSCA  </li>
						<li> Supervision des ressources sous Linux avec NRPE </li>
						<li> Supervision de ports TCP / UDP</li>
					</ul>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading"> Mots-clés </div>
  				<div class="panel-body"> NAGIOS, CENTREON, ZABBIX, DEBIAN, CENTOS FAN, NRPE, NSCA </div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"> Fermer </button>
			</div>
		</div>
	</div>
</div>
