<div class="modal fade" style="display:none;" id="modalALU" tabindex="-1" role="dialog" aria-labelledby="modalALU">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-lg-offset-2">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h2 class="modal-title"> ALCATEL-LUCENT, Rennes </h2>
					<h4><strong> Administrateur Systèmes de Cloud </strong></h4>
				</div>
			</div>

			<div class="modal-body">
				<div class="modal-summary">
					Gestion de plateformes de validation KVM/Openstack pour le produit MRF (Serveur de téléphonie permettant le transcodage des communications dans le réseau IMS)
				</div>

				<div>
					<ul>
						<li> Etude et mise en place de différents Vlans pour le produit virtualisé : </li>
							<ul>
								<li> Bridges Linux, OpenvSwitch </li>
								<li> Commutateurs HP 6120XG </li>
							</ul>
					</ul>

					<br>

					<ul>
						<li> Installation et maintenance de nœuds Openstack (Controller, Compute, Network) sous Linux (RedHat / Ubuntu Server) :   </li>
							<ul>
								<li> Composants Nova, Neutron, Glance, Horizon…  </li>
								<li> Agents DHCP Dnsmasq </li>
								<li> Bases de données MySQL </li>
							</ul>
					</ul>

					<br>

					<ul>
						<li> Réalisation d’outils d’automatisation Bash / Python :   </li>
							<ul>
								<li> Scripts d’installation Kickstart / Preseed </li>
								<li> Scripts de gestion des commandes KVM/Openstack </li>
								<li> Script de maintenance des bases de données Openstack </li>
							</ul>
					</ul>

					<br>

					<ul>
						<li> Réalisation d’outils d’automatisation Bash / Python :   </li>
							<ul>
								<li> Scripts d’installation Kickstart / Preseed </li>
								<li> Scripts de gestion des commandes KVM/Openstack </li>
								<li> Script de maintenance des bases de données Openstack </li>
								<li> Script de gestion des configurations de commutateurs HP  (Python-Expect) </li>
							</ul>
					</ul>

					<br>

					<ul>
						<li> Réalisation de documentations techniques sur les environnements et les outils  </li>
						<li> Création de packages DEB / RPM pour Ubuntu 12.04/14.04 et RHEL 6.X </li>
						<li> Recherche de solutions de contrôleur OpenFlow </li>
						<li> Analyse de communications SIP </li>
					</ul>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading"> Mots-clés </div>
  				<div class="panel-body"> BASH, PYTHON, KVM, OPEN STACK, EXPECT, MYSQL, RHEL, UBUNTU, RPM, DEB, OPENVSWITCH </div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"> Fermer </button>
			</div>
		</div>
	</div>
</div>
