<div class="modal fade" style="display:none;" id="{{ formation_modal_title }}" tabindex="-1" role="dialog" aria-labelledby="{{ formation_modal_title }}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title"> {{ formation_modal_title }} </h3>
			</div>

			<div class="modal-body">
				{{ formation_modal_title }}
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"> Fermer </button>
			</div>
		</div>
	</div>
</div>
