<div class="modal fade" style="display:none;" id="modalSII" tabindex="-1" role="dialog" aria-labelledby="modalSII">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-lg-offset-2">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h2 class="modal-title"> SII, RENNES </h2>
					<h4><strong>Cellule intégration système SII </strong></h4>
				</div>
			</div>

			<div class="modal-body">
				<div class="modal-summary">
					En charge de missions dans la cellule intégration systèmes SII pour de multiples clients/projets
				</div>

				<div>
					<ul>
						<li> Plateformes de qualification / Sandbox (projet PAB, OrangeSoft) :  </li>
							<ul>
								<li> Serveurs applicatifs Tomcat </li>
								<li> Base de données Couchbase avec plugin N1QL </li>
								<li> Configuration RabbitMQ </li>
								<li> Optimisation/Sécurisation du SSH (clés DSA + keychain)  </li>
								<li> Load-balancers utilisant du Rewriting et certificats SSL (Haproxy)  </li>
								<li> Ansible (playbooks, facts, rôles … ) </li>
								<li> Supervision et Capacity Planning (Nagios + Nrpe / Munin) </li>
								<li> Remontée de logs (outils Elasticsearch-Logstash-Kibana) </li>
								<li> Déploiement des nouvelles versions (archives WAR) </li>
							</ul>
					</ul>

					<br>

					<ul>
						<li> Tierce-maintenance applicative (projet SAFE@SCS, OBS) :  </li>
							<ul>
								<li> Développement de contrôles à base d’un langage libre similaire au C (HAWK), permettant de vérifier des configurations d’équipement (Juniper, BigIP … ) </li>
								<li> Utilisation d’expressions régulières dans ce langage spécifique.  </li>
								<li> Réalisation de scripts shell faisant appel aux contrôles compilés.  </li>
							</ul>
					</ul>

					<br>

					<ul>
						<li> Audit de sécurité et Hardening système :  </li>
							<ul>
								<li> Autoformation aux tests d’intrusion (WebGoat, rootme).  </li>
								<li> Audit applicatif en mode BlackBox d’une application web SII.  </li>
								<li> Analyse et hardening système sur différents serveurs/services (Ubuntu/Debian, Apache, Mysql, PHP)  </li>
							</ul>
					</ul>

					<br>

					<ul>
						<li> Mise en place d’un serveur de packaging :  </li>
							<ul>
								<li> Structure de scripts shell permettant de créer des projets, récupérer des sources via GIT, générer des packages de type DEB ou TARGZ,…  </li>
								<li> Interface web avec Django 1.7 </li>
							</ul>
					</ul>

					<br>

					<ul>
						<li> Etudes et Proof Of Concept sur quelques sujets :  </li>
							<ul>
								<li> Docker (Boot2Docker, génération d’images depuis des Dockerfiles, lancement de conteneurs avec SystemD ou Docker-compose, … ) </li>
								<li> Elasticsearch-Logstash-Kibana couplé à Logstash-Forwarder/FileBeat (ajout de champs, enregistrement dynamique d’indexes Elasticsearch … )  </li>
								<li> Dualboot Windows / Ubuntu (PXE, Preseed, Gparted… )  </li>
								<li> Installation d’un PoC d’Openstack Juno </li>
							</ul>
					</ul>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading"> Mots-clés </div>
  				<div class="panel-body"> LOAD-BALANCING, ELASTIC-TOOLS, CONFIGURATION MANAGEMENT, SUPERVISION, PENTESTING, HARDENING, BASH, DOCKER, GIT, AUTOMATISATION, GPARTED </div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"> Fermer </button>
			</div>
		</div>
	</div>
</div>
